@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  @apply font-semibold text-white mt-8 mb-4;
}

.markdown-content p {
  @apply mb-4;
}

.markdown-content strong {
  @apply text-white;
}

.markdown-content ul {
  @apply list-disc pl-6 mb-4 space-y-2;
}

.markdown-content ol {
  @apply list-decimal pl-6 mb-4 space-y-2;
}

.markdown-content a {
  @apply text-cyber-cyan underline decoration-dotted;
}
